<a href="https://colab.research.google.com/github/pko89403/Recsys_test/blob/master/Wide%26Deep_Data_Model_subscriton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wide - And - Deep - Pytorch
1. Wide : 스파스한 피처들, 원-핫 인코딩 되어 아웃풋 뉴런과 바로 연결됨
2. Deep Dense : 카테고리 피처들, 임베딩으로 표횐됨, 연속성 피처들이 덴스 레이어로 보내짐
3. Deep Text : 워드 임베딩들 보내지는 RNN들의 스택으로
4. Deep Image : RGB 이미지들 CNN으로 보내지는, ResNet

# 데이터 전처리
https://github.com/Srifox/Wide-and-Deep-PyTorch/blob/master/demo1_prepare_data.ipynb

In [6]:
import pandas as pd
import numpy as np

raw_data_path = "/content/drive/My Drive/data/adult_data/adult-data.csv"
raw_data = pd.read_csv(raw_data_path)
raw_data.head()

   age          workclass  fnlwgt  ... wrk_hrs_per_week  native_country  income
0   39          State-gov   77516  ...               40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...               13   United-States   <=50K
2   38            Private  215646  ...               40   United-States   <=50K
3   53            Private  234721  ...               40   United-States   <=50K
4   28            Private  338409  ...               40            Cuba   <=50K

[5 rows x 15 columns]

age 컬럼의 카테고리 버전을 만든다.

In [0]:
raw_data['age_buckets'] = pd.cut(raw_data.age, bins=[16, 25, 30, 35, 40, 45, 50, 55, 60, 91], labels=np.arange(9))

Logist Regression에 사용하기 위한 라벨 만들기

In [8]:
raw_data['income_label'] = (raw_data['income'].apply(lambda x: ">50K" in x)).astype(int)
raw_data.drop('income', axis=1, inplace=True)
raw_data.head()

   age          workclass  fnlwgt  ...  native_country  age_buckets income_label
0   39          State-gov   77516  ...   United-States            3            0
1   50   Self-emp-not-inc   83311  ...   United-States            5            0
2   38            Private  215646  ...   United-States            3            0
3   53            Private  234721  ...   United-States            6            0
4   28            Private  338409  ...            Cuba            1            0

[5 rows x 16 columns]

wide-side 모델에서 사용할 컬럼을 선택하기

In [0]:
wide_cols = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'age_buckets']
crossed_cols = (['education', 'occupation'], ['native_country', 'occupation'])

기존 논문의 crossed 에 대한 표현이 좀 더 합리적으로 변경 되었다.   
전에는 crossed columns 에 대한 표현이 (true, true) -> 1, (다른 페어) -> 0
- education_occupation
- native_country_occupation

In [10]:
df_adult_wide = raw_data.copy()[wide_cols]
crossed_columns = []
for cols in crossed_cols:
  colname = '_'.join(cols)
  df_adult_wide[colname] = df_adult_wide[cols].apply(lambda x: '-'.join(x), axis=1)
  crossed_columns.append(colname)
df_adult_wide['age_buckets'].astype(str)
df_adult_wide.head()

           workclass  ...          native_country_occupation
0          State-gov  ...        United-States- Adm-clerical
1   Self-emp-not-inc  ...     United-States- Exec-managerial
2            Private  ...   United-States- Handlers-cleaners
3            Private  ...   United-States- Handlers-cleaners
4            Private  ...               Cuba- Prof-specialty

[5 rows x 11 columns]

pd.get_dummies()를 이용해 가변수 (dummy var) 만들기 - 원-핫 인코딩

In [11]:
dummy_cols = wide_cols + crossed_columns
df_adult_wide = pd.get_dummies(df_adult_wide, columns=dummy_cols)
print(df_adult_wide.shape)

(32561, 770)

In [12]:
df_adult_wide.head()

   workclass_ ?  ...  native_country_occupation_ Yugoslavia- Transport-moving
0             0  ...                                                  0
1             0  ...                                                  0
2             0  ...                                                  0
3             0  ...                                                  0
4             0  ...                                                  0

[5 rows x 770 columns]

deep-dense 사이드 모델에 사용할 컬럼을 정의한다.   
임베딩으로 표현되어 Dense 레이어로 들어갈 예정이다.

In [0]:
# embeddings_cols = [(column_name, dimension of the corresponding embeddings)]
embeddings_cols = [('workclass', 10),
                   ('education', 10),
                   ('occupation', 10),
                   ('relationship', 8),
                   ('native_country', 10)]
continuous_cols = ['age', 'wrk_hrs_per_week', 'capital-gain', 'capital-loss']

In [14]:
def_dum = 8
if type(embeddings_cols[0]) is tuple:
  emb_dim = dict(embeddings_cols)
  embeddings_cols = [emb[0] for emb in embeddings_cols]
else:
  emb_dim = {e:def_dim for e in embeddings_cols}
  embeddings_cols = embeddings_cols
deep_cols = embeddings_cols + continuous_cols
deep_cols

['workclass',
 'education',
 'occupation',
 'relationship',
 'native_country',
 'age',
 'wrk_hrs_per_week',
 'capital-gain',
 'capital-loss']

In [15]:
df_adult_deep = raw_data.copy()[deep_cols]
categorical_columns = list(df_adult_deep.select_dtypes(include=['object']).columns)
categorical_columns

['workclass', 'education', 'occupation', 'relationship', 'native_country']

카테고리컬 컬럼들을 'label encode' 한다.

In [0]:
def label_encode(df_input, cols=None, val_to_idx=None):
  df = df_input.copy()
  if cols == None:
    cols = list(df.select_dtypes(include=['object']).columns)

  if not val_to_idx:
    val_types = dict()
    for c in cols:
      val_types[c] = df[c].unique() # 각 카테고리 컬럼의 항목을 넣는다. 

      val_to_idx = dict()
      for k, v in val_types.items(): # 카테고리 컬럼 이름, 카테고리 항목
        val_to_idx[k] = {o: i for i, o in enumerate(val_types[k])}

  for k, v in val_to_idx.items():
    df[k] = df[k].apply(lambda x: v[x])
  
  return df, val_to_idx

In [0]:
df_adult_deep, encoding_dict = label_encode(df_adult_deep, cols=categorical_columns)
embeddings_encoding_dict = {k:encoding_dict[k] for k in encoding_dict if k in deep_cols}
embeddings_input = []
for k, v in embeddings_encoding_dict.items():
  embeddings_input.append((k, len(v), emb_dim[k]))

deep_column_idx = {k:v for v,k in enumerate(df_adult_deep.columns)}

In [18]:
deep_column_idx

{'age': 5,
 'capital-gain': 7,
 'capital-loss': 8,
 'education': 1,
 'native_country': 4,
 'occupation': 2,
 'relationship': 3,
 'workclass': 0,
 'wrk_hrs_per_week': 6}

In [19]:
embeddings_encoding_dict

{'education': {' 10th': 12,
  ' 11th': 2,
  ' 12th': 15,
  ' 1st-4th': 13,
  ' 5th-6th': 11,
  ' 7th-8th': 8,
  ' 9th': 4,
  ' Assoc-acdm': 6,
  ' Assoc-voc': 7,
  ' Bachelors': 0,
  ' Doctorate': 9,
  ' HS-grad': 1,
  ' Masters': 3,
  ' Preschool': 14,
  ' Prof-school': 10,
  ' Some-college': 5},
 'native_country': {' ?': 4,
  ' Cambodia': 17,
  ' Canada': 10,
  ' China': 28,
  ' Columbia': 16,
  ' Cuba': 1,
  ' Dominican-Republic': 24,
  ' Ecuador': 19,
  ' El-Salvador': 25,
  ' England': 9,
  ' France': 26,
  ' Germany': 11,
  ' Greece': 35,
  ' Guatemala': 27,
  ' Haiti': 22,
  ' Holand-Netherlands': 41,
  ' Honduras': 8,
  ' Hong': 38,
  ' Hungary': 40,
  ' India': 3,
  ' Iran': 12,
  ' Ireland': 39,
  ' Italy': 14,
  ' Jamaica': 2,
  ' Japan': 29,
  ' Laos': 20,
  ' Mexico': 5,
  ' Nicaragua': 36,
  ' Outlying-US(Guam-USVI-etc)': 32,
  ' Peru': 31,
  ' Philippines': 13,
  ' Poland': 15,
  ' Portugal': 23,
  ' Puerto-Rico': 7,
  ' Scotland': 33,
  ' South': 6,
  ' Taiwan': 21,
  ' Thailand': 18,
  ' Trinadad&Tobago': 34,
  ' United-States': 0,
  ' Vietnam': 37,
  ' Yugoslavia': 30},
 'occupation': {' ?': 11,
  ' Adm-clerical': 0,
  ' Armed-Forces': 13,
  ' Craft-repair': 6,
  ' Exec-managerial': 1,
  ' Farming-fishing': 8,
  ' Handlers-cleaners': 2,
  ' Machine-op-inspct': 9,
  ' Other-service': 4,
  ' Priv-house-serv': 14,
  ' Prof-specialty': 3,
  ' Protective-serv': 12,
  ' Sales': 5,
  ' Tech-support': 10,
  ' Transport-moving': 7},
 'relationship': {' Husband': 1,
  ' Not-in-family': 0,
  ' Other-relative': 5,
  ' Own-child': 3,
  ' Unmarried': 4,
  ' Wife': 2},
 'workclass': {' ?': 5,
  ' Federal-gov': 3,
  ' Local-gov': 4,
  ' Never-worked': 8,
  ' Private': 2,
  ' Self-emp-inc': 6,
  ' Self-emp-not-inc': 1,
  ' State-gov': 0,
  ' Without-pay': 7}}

In [20]:
embeddings_input

[('workclass', 9, 10),
 ('education', 16, 10),
 ('occupation', 15, 10),
 ('relationship', 6, 8),
 ('native_country', 42, 10)]

In [21]:
df_adult_deep.head()

   workclass  education  ...  capital-gain  capital-loss
0          0          0  ...          2174             0
1          1          0  ...             0             0
2          2          1  ...             0             0
3          2          2  ...             0             0
4          2          0  ...             0             0

[5 rows x 9 columns]

In [22]:
from sklearn.preprocessing import StandardScaler

standardize_cols = continuous_cols
scaler = StandardScaler()

for cc in standardize_cols:
  df_adult_deep[cc] = scaler.fit_transform(raw_data[cc].values.reshape(-1, 1).astype(float))

df_adult_deep.head()

   workclass  education  ...  capital-gain  capital-loss
0          0          0  ...      0.148453      -0.21666
1          1          0  ...     -0.145920      -0.21666
2          2          1  ...     -0.145920      -0.21666
3          2          2  ...     -0.145920      -0.21666
4          2          0  ...     -0.145920      -0.21666

[5 rows x 9 columns]

In [0]:
from sklearn.model_selection import train_test_split

x_wide = df_adult_wide.values
y = raw_data['income_label']

x_deep = df_adult_deep.values
cat_embed_input = embeddings_input
cat_embed_encoding_dict = embeddings_encoding_dict
deep_column_idx = deep_column_idx
continuous_cols = continuous_cols

# train / valid / test split
x_train_wide, x_valid_wide = train_test_split(x_wide, test_size=0.4, random_state=1004)
x_train_deep, x_valid_deep = train_test_split(x_deep, test_size=0.4, random_state=1004)
y_train, y_valid = train_test_split(y, test_size=0.4, random_state=1004)

x_valid_wide, x_test_wide = train_test_split(x_valid_wide, test_size=0.4, random_state=1004)
x_valid_deep, x_test_deep = train_test_split(x_valid_deep, test_size=0.4, random_state=1004)
y_valid, y_test = train_test_split(y_valid, test_size=0.4, random_state=1004)

## 모델을 만들어 보자 https://github.com/Srifox/Wide-and-Deep-PyTorch/blob/master/demo2_building_blocks.ipynb   
### Wide

In [0]:
import torch
import torch.nn as nn
import torch.nn.functional as F

class Wide(nn.Module):
  def __init__(self, wide_dim, output_dim):
    super(Wide, self).__init__()
    self.linear = nn.Linear(wide_dim, output_dim)
  def forward(self, input):
    out = self.linear(input)
    return out

In [25]:
x_train_wide.shape

(19536, 770)

In [26]:
wide_model = Wide(wide_dim=770, output_dim=1)

x_train_batch4 = torch.Tensor(x_train_wide[0:4])
print(x_train_batch4.shape)

result = wide_model(x_train_batch4)
print(result)

torch.Size([4, 770])
tensor([[ 0.0140],
        [ 0.0277],
        [-0.0214],
        [ 0.0476]], grad_fn=<AddmmBackward>)

### Deep

In [0]:
def dense_layer(input, output):
  return nn.Sequential(
      nn.Linear(input, output),
      nn.LeakyReLU(inplace=True),
      nn.Dropout()
      )

class DeepDense(nn.Module):
  def __init__(self, embeddings_input, embeddings_encoding_dict, continuous_cols, deep_column_idx, hidden_layers, output_dim):
    super(DeepDense, self).__init__()

    self.embeddings_input = embeddings_input
    self.embeddings_encoding_dict = embeddings_encoding_dict
    self.continuous_cols = continuous_cols
    self.deep_column_idx = deep_column_idx

    for col, val, dim in embeddings_input:
      print(col, val, dim)
      setattr(self, 'emb_layer_' + col, nn.Embedding(val, dim))
    
    input_emb_dim = np.sum([emb[2] for emb in embeddings_input]) + len(continuous_cols)
    hidden_layers = [input_emb_dim] + hidden_layers
    
    self.dense = nn.Sequential()
    for i in range(1, len(hidden_layers)):
      self.dense.add_module(
          'dense_layer_{}'.format(i-1),
          dense_layer( hidden_layers[i-1], hidden_layers[i])

      )
    
    self.dense.add_module('last_linear', nn.Linear(hidden_layers[-1], output_dim))

  def forward(self, X:torch.Tensor)->torch.Tensor:
    emb = [getattr(self, 'emb_layer_' + col)(X[:, self.deep_column_idx[col]].long())
            for col, _, _ in self.embeddings_input]     
    if self.continuous_cols:
      cont_idx = [self.deep_column_idx[col] for col in self.continuous_cols]
      cont = [X[:, cont_idx].float()]
      input = torch.cat(emb+cont, 1)
    else:
      input = torch.cat(emb, 1)
    out = self.dense(input)                                                                                        
    return out

In [28]:
cat_embed_input # 유니크 항목의 수, 임베딩 차원 수

[('workclass', 9, 10),
 ('education', 16, 10),
 ('occupation', 15, 10),
 ('relationship', 6, 8),
 ('native_country', 42, 10)]

In [29]:
cat_embed_encoding_dict

{'education': {' 10th': 12,
  ' 11th': 2,
  ' 12th': 15,
  ' 1st-4th': 13,
  ' 5th-6th': 11,
  ' 7th-8th': 8,
  ' 9th': 4,
  ' Assoc-acdm': 6,
  ' Assoc-voc': 7,
  ' Bachelors': 0,
  ' Doctorate': 9,
  ' HS-grad': 1,
  ' Masters': 3,
  ' Preschool': 14,
  ' Prof-school': 10,
  ' Some-college': 5},
 'native_country': {' ?': 4,
  ' Cambodia': 17,
  ' Canada': 10,
  ' China': 28,
  ' Columbia': 16,
  ' Cuba': 1,
  ' Dominican-Republic': 24,
  ' Ecuador': 19,
  ' El-Salvador': 25,
  ' England': 9,
  ' France': 26,
  ' Germany': 11,
  ' Greece': 35,
  ' Guatemala': 27,
  ' Haiti': 22,
  ' Holand-Netherlands': 41,
  ' Honduras': 8,
  ' Hong': 38,
  ' Hungary': 40,
  ' India': 3,
  ' Iran': 12,
  ' Ireland': 39,
  ' Italy': 14,
  ' Jamaica': 2,
  ' Japan': 29,
  ' Laos': 20,
  ' Mexico': 5,
  ' Nicaragua': 36,
  ' Outlying-US(Guam-USVI-etc)': 32,
  ' Peru': 31,
  ' Philippines': 13,
  ' Poland': 15,
  ' Portugal': 23,
  ' Puerto-Rico': 7,
  ' Scotland': 33,
  ' South': 6,
  ' Taiwan': 21,
  ' Thailand': 18,
  ' Trinadad&Tobago': 34,
  ' United-States': 0,
  ' Vietnam': 37,
  ' Yugoslavia': 30},
 'occupation': {' ?': 11,
  ' Adm-clerical': 0,
  ' Armed-Forces': 13,
  ' Craft-repair': 6,
  ' Exec-managerial': 1,
  ' Farming-fishing': 8,
  ' Handlers-cleaners': 2,
  ' Machine-op-inspct': 9,
  ' Other-service': 4,
  ' Priv-house-serv': 14,
  ' Prof-specialty': 3,
  ' Protective-serv': 12,
  ' Sales': 5,
  ' Tech-support': 10,
  ' Transport-moving': 7},
 'relationship': {' Husband': 1,
  ' Not-in-family': 0,
  ' Other-relative': 5,
  ' Own-child': 3,
  ' Unmarried': 4,
  ' Wife': 2},
 'workclass': {' ?': 5,
  ' Federal-gov': 3,
  ' Local-gov': 4,
  ' Never-worked': 8,
  ' Private': 2,
  ' Self-emp-inc': 6,
  ' Self-emp-not-inc': 1,
  ' State-gov': 0,
  ' Without-pay': 7}}

In [30]:
continuous_cols

['age', 'wrk_hrs_per_week', 'capital-gain', 'capital-loss']

In [31]:
deep = DeepDense( embeddings_input=cat_embed_input,
                  embeddings_encoding_dict=cat_embed_encoding_dict, 
                  continuous_cols=continuous_cols,
                  deep_column_idx=deep_column_idx, 
                  hidden_layers=[32,16], 
                  output_dim=1)

workclass 9 10
education 16 10
occupation 15 10
relationship 6 8
native_country 42 10

In [32]:
deep

DeepDense(
  (emb_layer_workclass): Embedding(9, 10)
  (emb_layer_education): Embedding(16, 10)
  (emb_layer_occupation): Embedding(15, 10)
  (emb_layer_relationship): Embedding(6, 8)
  (emb_layer_native_country): Embedding(42, 10)
  (dense): Sequential(
    (dense_layer_0): Sequential(
      (0): Linear(in_features=52, out_features=32, bias=True)
      (1): LeakyReLU(negative_slope=0.01, inplace=True)
      (2): Dropout(p=0.5, inplace=False)
    )
    (dense_layer_1): Sequential(
      (0): Linear(in_features=32, out_features=16, bias=True)
      (1): LeakyReLU(negative_slope=0.01, inplace=True)
      (2): Dropout(p=0.5, inplace=False)
    )
    (last_linear): Linear(in_features=16, out_features=1, bias=True)
  )
)

In [33]:
deep_batch = torch.from_numpy(x_train_deep[:4])
deep_batch.shape

torch.Size([4, 9])

In [34]:
out = deep(deep_batch)
out

tensor([[-0.1113],
        [-0.2046],
        [-0.2811],
        [-0.5020]], grad_fn=<AddmmBackward>)

Wide and Deep

In [0]:
def set_method(method):
  if method == 'regression':
    return None, F.mse_loss
  if method == 'logistic':
    return torch.sigmoid, F.binary_cross_entropy
  if method == 'multiclass':
    return F.softmax, F.cross_entropy

In [0]:
def set_optimizer(model_params, opt_params):
  try:
    opt, lr, m = opt_params
  except:
    opt, lr = opt_params

  if opt == "Adam":
    return torch.optim.Adam(model_params, lr=lr)
  if opt == "Adagrad":
    return torch.optim.Adam(model_params, lr=lr)
  if opt == "RMSprop":
    return torch.optim.RMSprop(model_params, lr=lr, momentum=m)
  if opt == "SGD":
    return torch.optim.SGD(model_params, lr=lr, momentum=m)

In [0]:
class WideDeep(nn.Module):
  def __init__(self, output_dim, **params):
    super(WideDeep, self).__init__()

    self.datasets = {}
    self.output_dim = output_dim
    self.n_datasets = 1
    for k, v in params['wide'].items():
      setattr(self, k, v)
    self.wide = Wide(
      self.wide_dim,
      self.output_dim)
    
    self.datasets['deep_dense'] = self.n_datasets
    self.n_datasets += 1
    for k, v in params['deep_dense'].items():
      setattr(self, k, v)
    self.deep_dense = DeepDense(
      embeddings_input=self.embeddings_input,
      embeddings_encoding_dict=self.embeddings_encoding_dict, 
      continuous_cols=self.continuous_cols,
      deep_column_idx=self.deep_column_idx, 
      hidden_layers=self.hidden_layers, 
      output_dim=self.output_dim)
    
  def compile(self, method, optimizer):
    self.method = method,
    self.activation, self.criterion = set_method(method)
    self.optimizer = set_optimizer(self.parameters(), optimizer)

  def forward(self, input):
    wide_inp = input[0]
    wide_deep = self.wide(wide_inp)

    deep_dense_idx = self.datasets['deep_dense']
    deep_dense_out = self.deep_dense(input[deep_dense_idx])
    wide_deep.add_(deep_dense_out)

    if not self.activation:
      return wide_deep
    else:
      if( self.activation == F.softmax):
        out = self.activation(wide_deep, dim=1)
      else:
        out = self.activation(wide_deep)
      return out

In [63]:
params = dict()
params['wide'] = dict(
  wide_dim = 770
)
params['deep_dense'] = dict(
  embeddings_input=cat_embed_input,
  embeddings_encoding_dict=cat_embed_encoding_dict, 
  continuous_cols=continuous_cols,
  deep_column_idx=deep_column_idx, 
  hidden_layers=[32,16]
)

params

{'deep_dense': {'continuous_cols': ['age',
   'wrk_hrs_per_week',
   'capital-gain',
   'capital-loss'],
  'deep_column_idx': {'age': 5,
   'capital-gain': 7,
   'capital-loss': 8,
   'education': 1,
   'native_country': 4,
   'occupation': 2,
   'relationship': 3,
   'workclass': 0,
   'wrk_hrs_per_week': 6},
  'embeddings_encoding_dict': {'education': {' 10th': 12,
    ' 11th': 2,
    ' 12th': 15,
    ' 1st-4th': 13,
    ' 5th-6th': 11,
    ' 7th-8th': 8,
    ' 9th': 4,
    ' Assoc-acdm': 6,
    ' Assoc-voc': 7,
    ' Bachelors': 0,
    ' Doctorate': 9,
    ' HS-grad': 1,
    ' Masters': 3,
    ' Preschool': 14,
    ' Prof-school': 10,
    ' Some-college': 5},
   'native_country': {' ?': 4,
    ' Cambodia': 17,
    ' Canada': 10,
    ' China': 28,
    ' Columbia': 16,
    ' Cuba': 1,
    ' Dominican-Republic': 24,
    ' Ecuador': 19,
    ' El-Salvador': 25,
    ' England': 9,
    ' France': 26,
    ' Germany': 11,
    ' Greece': 35,
    ' Guatemala': 27,
    ' Haiti': 22,
    ' Holand-Netherlands': 41,
    ' Honduras': 8,
    ' Hong': 38,
    ' Hungary': 40,
    ' India': 3,
    ' Iran': 12,
    ' Ireland': 39,
    ' Italy': 14,
    ' Jamaica': 2,
    ' Japan': 29,
    ' Laos': 20,
    ' Mexico': 5,
    ' Nicaragua': 36,
    ' Outlying-US(Guam-USVI-etc)': 32,
    ' Peru': 31,
    ' Philippines': 13,
    ' Poland': 15,
    ' Portugal': 23,
    ' Puerto-Rico': 7,
    ' Scotland': 33,
    ' South': 6,
    ' Taiwan': 21,
    ' Thailand': 18,
    ' Trinadad&Tobago': 34,
    ' United-States': 0,
    ' Vietnam': 37,
    ' Yugoslavia': 30},
   'occupation': {' ?': 11,
    ' Adm-clerical': 0,
    ' Armed-Forces': 13,
    ' Craft-repair': 6,
    ' Exec-managerial': 1,
    ' Farming-fishing': 8,
    ' Handlers-cleaners': 2,
    ' Machine-op-inspct': 9,
    ' Other-service': 4,
    ' Priv-house-serv': 14,
    ' Prof-specialty': 3,
    ' Protective-serv': 12,
    ' Sales': 5,
    ' Tech-support': 10,
    ' Transport-moving': 7},
   'relationship': {' Husband': 1,
    ' Not-in-family': 0,
    ' Other-relative': 5,
    ' Own-child': 3,
    ' Unmarried': 4,
    ' Wife': 2},
   'workclass': {' ?': 5,
    ' Federal-gov': 3,
    ' Local-gov': 4,
    ' Never-worked': 8,
    ' Private': 2,
    ' Self-emp-inc': 6,
    ' Self-emp-not-inc': 1,
    ' State-gov': 0,
    ' Without-pay': 7}},
  'embeddings_input': [('workclass', 9, 10),
   ('education', 16, 10),
   ('occupation', 15, 10),
   ('relationship', 6, 8),
   ('native_country', 42, 10)],
  'hidden_layers': [32, 16]},
 'wide': {'wide_dim': 770}}

In [64]:
wide_deep = WideDeep(output_dim=1, **params)

workclass 9 10
education 16 10
occupation 15 10
relationship 6 8
native_country 42 10

In [65]:
wide_deep

WideDeep(
  (wide): Wide(
    (linear): Linear(in_features=770, out_features=1, bias=True)
  )
  (deep_dense): DeepDense(
    (emb_layer_workclass): Embedding(9, 10)
    (emb_layer_education): Embedding(16, 10)
    (emb_layer_occupation): Embedding(15, 10)
    (emb_layer_relationship): Embedding(6, 8)
    (emb_layer_native_country): Embedding(42, 10)
    (dense): Sequential(
      (dense_layer_0): Sequential(
        (0): Linear(in_features=52, out_features=32, bias=True)
        (1): LeakyReLU(negative_slope=0.01, inplace=True)
        (2): Dropout(p=0.5, inplace=False)
      )
      (dense_layer_1): Sequential(
        (0): Linear(in_features=32, out_features=16, bias=True)
        (1): LeakyReLU(negative_slope=0.01, inplace=True)
        (2): Dropout(p=0.5, inplace=False)
      )
      (last_linear): Linear(in_features=16, out_features=1, bias=True)
    )
  )
)

In [0]:
wide_batch = torch.Tensor(x_train_wide[0:4])
deep_batch = torch.from_numpy(x_train_deep[:4])
wide_deep_batch = (wide_batch, deep_batch)

In [67]:
wide_deep.compile(method='regression', optimizer=["Adam", 0.01])
wide_deep(wide_deep_batch)

tensor([[-0.3260],
        [-0.2096],
        [-0.3274],
        [-0.3310]], grad_fn=<AddBackward0>)