<a href="https://colab.research.google.com/github/pko89403/Recsys_test/blob/master/Wide%26Deep_Data_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wide - And - Deep - Pytorch
1. Wide : 스파스한 피처들, 원-핫 인코딩 되어 아웃풋 뉴런과 바로 연결됨
2. Deep Dense : 카테고리 피처들, 임베딩으로 표횐됨, 연속성 피처들이 덴스 레이어로 보내짐
3. Deep Text : 워드 임베딩들 보내지는 RNN들의 스택으로
4. Deep Image : RGB 이미지들 CNN으로 보내지는, ResNet

# 데이터 전처리

In [0]:
import pandas as pd
import numpy as np

raw_data_path = "/content/drive/My Drive/data/adult_data/adult-data.csv"
raw_data = pd.read_csv(raw_data_path)
raw_data.head()

   age          workclass  fnlwgt  ... wrk_hrs_per_week  native_country  income
0   39          State-gov   77516  ...               40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...               13   United-States   <=50K
2   38            Private  215646  ...               40   United-States   <=50K
3   53            Private  234721  ...               40   United-States   <=50K
4   28            Private  338409  ...               40            Cuba   <=50K

[5 rows x 15 columns]

Logist Regression에 사용하기 위한 라벨 만들기

In [0]:
raw_data['income_label'] = (raw_data['income'].apply(lambda x: ">50K" in x)).astype(int)
raw_data.head()

   age          workclass  fnlwgt  ...  native_country  income income_label
0   39          State-gov   77516  ...   United-States   <=50K            0
1   50   Self-emp-not-inc   83311  ...   United-States   <=50K            0
2   38            Private  215646  ...   United-States   <=50K            0
3   53            Private  234721  ...   United-States   <=50K            0
4   28            Private  338409  ...            Cuba   <=50K            0

[5 rows x 16 columns]

## 1-Set 실험
"Wide-" 나 "Deep-" 모델에 넣을 컬럼을 정의한다.

In [0]:
wide_cols = ['age', 'wrk_hrs_per_week', 'education', 'relationship', 'workclass', 'occupation', 'native_country', 'sex']
crossed_cols = (['education', 'occupation'], ['native_country', 'occupation'])
embedding_cols = [('education', 10), ('relationship', 8), ('workclass', 10), ('occupation', 10), ('native_country', 12)]
continuous_cols = ['age', 'wrk_hrs_per_week']
target = 'income_label'
method = 'logistic'

if type(embedding_cols[0]) is tuple:
  emb_dim = dict(embedding_cols)
  embedding_cols = [emb[0] for emb in embedding_cols]
else:
  emb_dim = {e:def_dim for e in embedding_cols}
deep_cols = embedding_cols + continuous_cols
print(deep_cols)

['education', 'relationship', 'workclass', 'occupation', 'native_country', 'age', 'wrk_hrs_per_week']

In [0]:
Y = np.array(raw_data[target])
raw_temp = raw_data.copy()[list(set(wide_cols + deep_cols))]
raw_temp.head()

   native_country    relationship      sex  ... wrk_hrs_per_week   education  age
0   United-States   Not-in-family     Male  ...               40   Bachelors   39
1   United-States         Husband     Male  ...               13   Bachelors   50
2   United-States   Not-in-family     Male  ...               40     HS-grad   38
3   United-States         Husband     Male  ...               40        11th   53
4            Cuba            Wife   Female  ...               40   Bachelors   28

[5 rows x 8 columns]

In [0]:
print(crossed_cols)
crossed_columns = []
# Build the crossed columns
for cols in crossed_cols:
  colname = '_'.join(cols)
  raw_temp[colname] = raw_temp[cols].apply (lambda x: '-'.join(x), axis=1)
  crossed_columns.append(colname)

# extract the categorical column names that can be one-hot encoded layer
categorical_columns = list(raw_temp.select_dtypes(include=['object']).columns)

(['education', 'occupation'], ['native_country', 'occupation'])

In [0]:
raw_temp['education_occupation'].head()
#raw_temp.head()

0        Bachelors- Adm-clerical
1     Bachelors- Exec-managerial
2     HS-grad- Handlers-cleaners
3        11th- Handlers-cleaners
4      Bachelors- Prof-specialty
Name: education_occupation, dtype: object

In [0]:
def label_encode(df, cols=None):
  if cols == None:
    cols = list(df.select_dtypes(include=['object']).columns)
  
  val_types = dict()
  for c in cols:
    val_types[c] = df[c].unique()

  
  val_to_idx = dict()
  for k, v in val_types.items():
    val_to_idx[k] = {o: i for i, o in enumerate(val_types[k])}
  
  for k, v in val_to_idx.items():
    df[k] = df[k].apply(lambda x: v[x])
  
  
  return val_to_idx, df

In [0]:
# 데이터프레임을 인코딩한다. 그리고 인코딩 딕셔너리를 리턴
# deep_cols
print(raw_temp.head())
encoding_dict, raw_temp = label_encode(raw_temp)
print(encoding_dict)
encoding_dict = {k:encoding_dict[k] for k in encoding_dict if k in deep_cols}
embeddings_input = []
for k, v in encoding_dict.items():
  embeddings_input.append((k, len(v), emb_dim[k]))
print(embeddings_input)

   native_country  ...          native_country_occupation
0   United-States  ...        United-States- Adm-clerical
1   United-States  ...     United-States- Exec-managerial
2   United-States  ...   United-States- Handlers-cleaners
3   United-States  ...   United-States- Handlers-cleaners
4            Cuba  ...               Cuba- Prof-specialty

[5 rows x 10 columns]

In [0]:
df_deep = raw_temp[deep_cols]
deep_column_idx = {k:v for v,k in enumerate(df_deep.columns)}
deep_column_idx

{'age': 5,
 'education': 0,
 'native_country': 4,
 'occupation': 3,
 'relationship': 1,
 'workclass': 2,
 'wrk_hrs_per_week': 6}

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
for cc in continuous_cols:
  df_deep[cc] = scaler.fit_transform(df_deep[cc].values.reshape(-1,1))

df_wide = raw_temp[wide_cols + crossed_columns]
del(raw_temp)

dummy_cols = [c for c in wide_cols+crossed_columns if c in categorical_columns]
print(dummy_cols)
df_wide = pd.get_dummies(df_wide, columns=dummy_cols)

['education', 'relationship', 'workclass', 'occupation', 'native_country', 'sex', 'education_occupation', 'native_country_occupation']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
print(df_wide.shape)
for i in df_wide.columns:
  print(i)

(32561, 751)
age
wrk_hrs_per_week
education_0
education_1
education_2
education_3
education_4
education_5
education_6
education_7
education_8
education_9
education_10
education_11
education_12
education_13
education_14
education_15
relationship_0
relationship_1
relationship_2
relationship_3
relationship_4
relationship_5
workclass_0
workclass_1
workclass_2
workclass_3
workclass_4
workclass_5
workclass_6
workclass_7
workclass_8
occupation_0
occupation_1
occupation_2
occupation_3
occupation_4
occupation_5
occupation_6
occupation_7
occupation_8
occupation_9
occupation_10
occupation_11
occupation_12
occupation_13
occupation_14
native_country_0
native_country_1
native_country_2
native_country_3
native_country_4
native_country_5
native_country_6
native_country_7
native_country_8
native_country_9
native_country_10
native_country_11
native_country_12
native_country_13
native_country_14
native_country_15
native_country_16
native_country_17
native_country_18
native_country_19
native_country_20
native_country_21
native_country_22
native_country_23
native_country_24
native_country_25
native_country_26
native_country_27
native_country_28
native_country_29
native_country_30
native_country_31
native_country_32
native_country_33
native_country_34
native_country_35
native_country_36
native_country_37
native_country_38
native_country_39
native_country_40
native_country_41
sex_0
sex_1
education_occupation_0
education_occupation_1
education_occupation_2
education_occupation_3
education_occupation_4
education_occupation_5
education_occupation_6
education_occupation_7
education_occupation_8
education_occupation_9
education_occupation_10
education_occupation_11
education_occupation_12
education_occupation_13
education_occupation_14
education_occupation_15
education_occupation_16
education_occupation_17
education_occupation_18
education_occupation_19
education_occupation_20
education_occupation_21
education_occupation_22
education_occupation_23
education_occupation_24
education_occupation_25
education_occupation_26
education_occupation_27
education_occupation_28
education_occupation_29
education_occupation_30
education_occupation_31
education_occupation_32
education_occupation_33
education_occupation_34
education_occupation_35
education_occupation_36
education_occupation_37
education_occupation_38
education_occupation_39
education_occupation_40
education_occupation_41
education_occupation_42
education_occupation_43
education_occupation_44
education_occupation_45
education_occupation_46
education_occupation_47
education_occupation_48
education_occupation_49
education_occupation_50
education_occupation_51
education_occupation_52
education_occupation_53
education_occupation_54
education_occupation_55
education_occupation_56
education_occupation_57
education_occupation_58
education_occupation_59
education_occupation_60
education_occupation_61
education_occupation_62
education_occupation_63
education_occupation_64
education_occupation_65
education_occupation_66
education_occupation_67
education_occupation_68
education_occupation_69
education_occupation_70
education_occupation_71
education_occupation_72
education_occupation_73
education_occupation_74
education_occupation_75
education_occupation_76
education_occupation_77
education_occupation_78
education_occupation_79
education_occupation_80
education_occupation_81
education_occupation_82
education_occupation_83
education_occupation_84
education_occupation_85
education_occupation_86
education_occupation_87
education_occupation_88
education_occupation_89
education_occupation_90
education_occupation_91
education_occupation_92
education_occupation_93
education_occupation_94
education_occupation_95
education_occupation_96
education_occupation_97
education_occupation_98
education_occupation_99
education_occupation_100
education_occupation_101
education_occupation_102
education_occupation_103
education_occupation_104
education_occupation_105
education_occupation_106
education_occupation_107
education_occupation_108
education_occupation_109
education_occupation_110
education_occupation_111
education_occupation_112
education_occupation_113
education_occupation_114
education_occupation_115
education_occupation_116
education_occupation_117
education_occupation_118
education_occupation_119
education_occupation_120
education_occupation_121
education_occupation_122
education_occupation_123
education_occupation_124
education_occupation_125
education_occupation_126
education_occupation_127
education_occupation_128
education_occupation_129
education_occupation_130
education_occupation_131
education_occupation_132
education_occupation_133
education_occupation_134
education_occupation_135
education_occupation_136
education_occupation_137
education_occupation_138
education_occupation_139
education_occupation_140
education_occupation_141
education_occupation_142
education_occupation_143
education_occupation_144
education_occupation_145
education_occupation_146
education_occupation_147
education_occupation_148
education_occupation_149
education_occupation_150
education_occupation_151
education_occupation_152
education_occupation_153
education_occupation_154
education_occupation_155
education_occupation_156
education_occupation_157
education_occupation_158
education_occupation_159
education_occupation_160
education_occupation_161
education_occupation_162
education_occupation_163
education_occupation_164
education_occupation_165
education_occupation_166
education_occupation_167
education_occupation_168
education_occupation_169
education_occupation_170
education_occupation_171
education_occupation_172
education_occupation_173
education_occupation_174
education_occupation_175
education_occupation_176
education_occupation_177
education_occupation_178
education_occupation_179
education_occupation_180
education_occupation_181
education_occupation_182
education_occupation_183
education_occupation_184
education_occupation_185
education_occupation_186
education_occupation_187
education_occupation_188
education_occupation_189
education_occupation_190
education_occupation_191
education_occupation_192
education_occupation_193
education_occupation_194
education_occupation_195
education_occupation_196
education_occupation_197
education_occupation_198
education_occupation_199
education_occupation_200
education_occupation_201
education_occupation_202
education_occupation_203
education_occupation_204
education_occupation_205
education_occupation_206
education_occupation_207
education_occupation_208
education_occupation_209
education_occupation_210
education_occupation_211
education_occupation_212
education_occupation_213
education_occupation_214
education_occupation_215
education_occupation_216
native_country_occupation_0
native_country_occupation_1
native_country_occupation_2
native_country_occupation_3
native_country_occupation_4
native_country_occupation_5
native_country_occupation_6
native_country_occupation_7
native_country_occupation_8
native_country_occupation_9
native_country_occupation_10
native_country_occupation_11
native_country_occupation_12
native_country_occupation_13
native_country_occupation_14
native_country_occupation_15
native_country_occupation_16
native_country_occupation_17
native_country_occupation_18
native_country_occupation_19
native_country_occupation_20
native_country_occupation_21
native_country_occupation_22
native_country_occupation_23
native_country_occupation_24
native_country_occupation_25
native_country_occupation_26
native_country_occupation_27
native_country_occupation_28
native_country_occupation_29
native_country_occupation_30
native_country_occupation_31
native_country_occupation_32
native_country_occupation_33
native_country_occupation_34
native_country_occupation_35
native_country_occupation_36
native_country_occupation_37
native_country_occupation_38
native_country_occupation_39
native_country_occupation_40
native_country_occupation_41
native_country_occupation_42
native_country_occupation_43
native_country_occupation_44
native_country_occupation_45
native_country_occupation_46
native_country_occupation_47
native_country_occupation_48
native_country_occupation_49
native_country_occupation_50
native_country_occupation_51
native_country_occupation_52
native_country_occupation_53
native_country_occupation_54
native_country_occupation_55
native_country_occupation_56
native_country_occupation_57
native_country_occupation_58
native_country_occupation_59
native_country_occupation_60
native_country_occupation_61
native_country_occupation_62
native_country_occupation_63
native_country_occupation_64
native_country_occupation_65
native_country_occupation_66
native_country_occupation_67
native_country_occupation_68
native_country_occupation_69
native_country_occupation_70
native_country_occupation_71
native_country_occupation_72
native_country_occupation_73
native_country_occupation_74
native_country_occupation_75
native_country_occupation_76
native_country_occupation_77
native_country_occupation_78
native_country_occupation_79
native_country_occupation_80
native_country_occupation_81
native_country_occupation_82
native_country_occupation_83
native_country_occupation_84
native_country_occupation_85
native_country_occupation_86
native_country_occupation_87
native_country_occupation_88
native_country_occupation_89
native_country_occupation_90
native_country_occupation_91
native_country_occupation_92
native_country_occupation_93
native_country_occupation_94
native_country_occupation_95
native_country_occupation_96
native_country_occupation_97
native_country_occupation_98
native_country_occupation_99
native_country_occupation_100
native_country_occupation_101
native_country_occupation_102
native_country_occupation_103
native_country_occupation_104
native_country_occupation_105
native_country_occupation_106
native_country_occupation_107
native_country_occupation_108
native_country_occupation_109
native_country_occupation_110
native_country_occupation_111
native_country_occupation_112
native_country_occupation_113
native_country_occupation_114
native_country_occupation_115
native_country_occupation_116
native_country_occupation_117
native_country_occupation_118
native_country_occupation_119
native_country_occupation_120
native_country_occupation_121
native_country_occupation_122
native_country_occupation_123
native_country_occupation_124
native_country_occupation_125
native_country_occupation_126
native_country_occupation_127
native_country_occupation_128
native_country_occupation_129
native_country_occupation_130
native_country_occupation_131
native_country_occupation_132
native_country_occupation_133
native_country_occupation_134
native_country_occupation_135
native_country_occupation_136
native_country_occupation_137
native_country_occupation_138
native_country_occupation_139
native_country_occupation_140
native_country_occupation_141
native_country_occupation_142
native_country_occupation_143
native_country_occupation_144
native_country_occupation_145
native_country_occupation_146
native_country_occupation_147
native_country_occupation_148
native_country_occupation_149
native_country_occupation_150
native_country_occupation_151
native_country_occupation_152
native_country_occupation_153
native_country_occupation_154
native_country_occupation_155
native_country_occupation_156
native_country_occupation_157
native_country_occupation_158
native_country_occupation_159
native_country_occupation_160
native_country_occupation_161
native_country_occupation_162
native_country_occupation_163
native_country_occupation_164
native_country_occupation_165
native_country_occupation_166
native_country_occupation_167
native_country_occupation_168
native_country_occupation_169
native_country_occupation_170
native_country_occupation_171
native_country_occupation_172
native_country_occupation_173
native_country_occupation_174
native_country_occupation_175
native_country_occupation_176
native_country_occupation_177
native_country_occupation_178
native_country_occupation_179
native_country_occupation_180
native_country_occupation_181
native_country_occupation_182
native_country_occupation_183
native_country_occupation_184
native_country_occupation_185
native_country_occupation_186
native_country_occupation_187
native_country_occupation_188
native_country_occupation_189
native_country_occupation_190
native_country_occupation_191
native_country_occupation_192
native_country_occupation_193
native_country_occupation_194
native_country_occupation_195
native_country_occupation_196
native_country_occupation_197
native_country_occupation_198
native_country_occupation_199
native_country_occupation_200
native_country_occupation_201
native_country_occupation_202
native_country_occupation_203
native_country_occupation_204
native_country_occupation_205
native_country_occupation_206
native_country_occupation_207
native_country_occupation_208
native_country_occupation_209
native_country_occupation_210
native_country_occupation_211
native_country_occupation_212
native_country_occupation_213
native_country_occupation_214
native_country_occupation_215
native_country_occupation_216
native_country_occupation_217
native_country_occupation_218
native_country_occupation_219
native_country_occupation_220
native_country_occupation_221
native_country_occupation_222
native_country_occupation_223
native_country_occupation_224
native_country_occupation_225
native_country_occupation_226
native_country_occupation_227
native_country_occupation_228
native_country_occupation_229
native_country_occupation_230
native_country_occupation_231
native_country_occupation_232
native_country_occupation_233
native_country_occupation_234
native_country_occupation_235
native_country_occupation_236
native_country_occupation_237
native_country_occupation_238
native_country_occupation_239
native_country_occupation_240
native_country_occupation_241
native_country_occupation_242
native_country_occupation_243
native_country_occupation_244
native_country_occupation_245
native_country_occupation_246
native_country_occupation_247
native_country_occupation_248
native_country_occupation_249
native_country_occupation_250
native_country_occupation_251
native_country_occupation_252
native_country_occupation_253
native_country_occupation_254
native_country_occupation_255
native_country_occupation_256
native_country_occupation_257
native_country_occupation_258
native_country_occupation_259
native_country_occupation_260
native_country_occupation_261
native_country_occupation_262
native_country_occupation_263
native_country_occupation_264
native_country_occupation_265
native_country_occupation_266
native_country_occupation_267
native_country_occupation_268
native_country_occupation_269
native_country_occupation_270
native_country_occupation_271
native_country_occupation_272
native_country_occupation_273
native_country_occupation_274
native_country_occupation_275
native_country_occupation_276
native_country_occupation_277
native_country_occupation_278
native_country_occupation_279
native_country_occupation_280
native_country_occupation_281
native_country_occupation_282
native_country_occupation_283
native_country_occupation_284
native_country_occupation_285
native_country_occupation_286
native_country_occupation_287
native_country_occupation_288
native_country_occupation_289
native_country_occupation_290
native_country_occupation_291
native_country_occupation_292
native_country_occupation_293
native_country_occupation_294
native_country_occupation_295
native_country_occupation_296
native_country_occupation_297
native_country_occupation_298
native_country_occupation_299
native_country_occupation_300
native_country_occupation_301
native_country_occupation_302
native_country_occupation_303
native_country_occupation_304
native_country_occupation_305
native_country_occupation_306
native_country_occupation_307
native_country_occupation_308
native_country_occupation_309
native_country_occupation_310
native_country_occupation_311
native_country_occupation_312
native_country_occupation_313
native_country_occupation_314
native_country_occupation_315
native_country_occupation_316
native_country_occupation_317
native_country_occupation_318
native_country_occupation_319
native_country_occupation_320
native_country_occupation_321
native_country_occupation_322
native_country_occupation_323
native_country_occupation_324
native_country_occupation_325
native_country_occupation_326
native_country_occupation_327
native_country_occupation_328
native_country_occupation_329
native_country_occupation_330
native_country_occupation_331
native_country_occupation_332
native_country_occupation_333
native_country_occupation_334
native_country_occupation_335
native_country_occupation_336
native_country_occupation_337
native_country_occupation_338
native_country_occupation_339
native_country_occupation_340
native_country_occupation_341
native_country_occupation_342
native_country_occupation_343
native_country_occupation_344
native_country_occupation_345
native_country_occupation_346
native_country_occupation_347
native_country_occupation_348
native_country_occupation_349
native_country_occupation_350
native_country_occupation_351
native_country_occupation_352
native_country_occupation_353
native_country_occupation_354
native_country_occupation_355
native_country_occupation_356
native_country_occupation_357
native_country_occupation_358
native_country_occupation_359
native_country_occupation_360
native_country_occupation_361
native_country_occupation_362
native_country_occupation_363
native_country_occupation_364
native_country_occupation_365
native_country_occupation_366
native_country_occupation_367
native_country_occupation_368
native_country_occupation_369
native_country_occupation_370
native_country_occupation_371
native_country_occupation_372
native_country_occupation_373
native_country_occupation_374
native_country_occupation_375
native_country_occupation_376
native_country_occupation_377
native_country_occupation_378
native_country_occupation_379
native_country_occupation_380
native_country_occupation_381
native_country_occupation_382
native_country_occupation_383
native_country_occupation_384
native_country_occupation_385
native_country_occupation_386
native_country_occupation_387
native_country_occupation_388
native_country_occupation_389
native_country_occupation_390
native_country_occupation_391
native_country_occupation_392
native_country_occupation_393
native_country_occupation_394
native_country_occupation_395
native_country_occupation_396
native_country_occupation_397
native_country_occupation_398
native_country_occupation_399
native_country_occupation_400
native_country_occupation_401
native_country_occupation_402
native_country_occupation_403
native_country_occupation_404
native_country_occupation_405
native_country_occupation_406
native_country_occupation_407
native_country_occupation_408
native_country_occupation_409
native_country_occupation_410
native_country_occupation_411
native_country_occupation_412
native_country_occupation_413
native_country_occupation_414
native_country_occupation_415
native_country_occupation_416
native_country_occupation_417
native_country_occupation_418
native_country_occupation_419
native_country_occupation_420
native_country_occupation_421
native_country_occupation_422
native_country_occupation_423
native_country_occupation_424
native_country_occupation_425
native_country_occupation_426
native_country_occupation_427
native_country_occupation_428
native_country_occupation_429
native_country_occupation_430
native_country_occupation_431
native_country_occupation_432
native_country_occupation_433
native_country_occupation_434
native_country_occupation_435
native_country_occupation_436
native_country_occupation_437
native_country_occupation_438
native_country_occupation_439
native_country_occupation_440
native_country_occupation_441

In [0]:
print(df_deep)

       education  relationship  ...       age  wrk_hrs_per_week
0              0             0  ...  0.030671         -0.035429
1              0             1  ...  0.837109         -2.222153
2              1             0  ... -0.042642         -0.035429
3              2             1  ...  1.057047         -0.035429
4              0             2  ... -0.775768         -0.035429
...          ...           ...  ...       ...               ...
32556          6             2  ... -0.849080         -0.197409
32557          1             1  ...  0.103983         -0.035429
32558          1             4  ...  1.423610         -0.035429
32559          1             3  ... -1.215643         -1.655225
32560          1             2  ...  0.983734         -0.035429

[32561 rows x 7 columns]

In [0]:
print(Y)

[0 0 0 ... 0 0 1]

In [0]:
from sklearn.model_selection import train_test_split

seed = 1981
x_train_deep, x_test_deep = train_test_split(df_deep.values, test_size=0.3, random_state=seed)
x_train_wide, x_test_wide = train_test_split(df_wide.values, test_size=0.3, random_state=seed)
y_train, y_test = train_test_split(Y, test_size=0.3, random_state=seed)

In [0]:
from collections import namedtuple

wd_dataset = dict()
train_dataset = namedtuple('train_dataset', 'wide, deep, labels')
test_dataset = namedtuple('test_dataset', 'wide, deep, labels')
wd_dataset['train_dataset'] = train_dataset(x_train_wide, x_train_deep, y_train)
wd_dataset['test_dataset'] = test_dataset(x_test_wide, x_test_deep, y_test)
wd_dataset['embeddings_input'] = embeddings_input
wd_dataset['deep_column_idx'] = deep_column_idx
wd_dataset['encoding_dict'] = encoding_dict

## 모델을 만들어 보자
### Wide

In [0]:
# Wide Model
import torch.nn as nn
import torch.nn.functional as F

wide_dim = wd_dataset['train_dataset'].wide.shape[1]
n_class = 1
wide_part = nn.Linear(wide_dim, n_class)
print(wide_part)

Linear(in_features=751, out_features=1, bias=True)

In [0]:
import torch
import torch.autograd as autograd
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset
from torch.autograd import Variable 
from torch.utils.data import DataLoader


class Wide(nn.Module):
  def __init__(self, wide_dim, n_class):
    super(Wide, self).__init__()
    self.wide_dim = wide_dim
    self.n_class = n_class
    self.linear = nn.Linear(self.wide_dim, self.n_class)

  def forward(self, x):
    return F.sigmoid(self.linear(x))

In [0]:
wide_model = Wide(wide_dim, n_class)
print(wide_model)

Wide(
  (linear): Linear(in_features=751, out_features=1, bias=True)
)

In [0]:
train_dataset = np.hstack([wd_dataset['train_dataset'].labels.reshape(-1,1), wd_dataset['train_dataset'].wide])
train_dataset

array([[ 0, 49, 40, ...,  0,  0,  0],
       [ 0, 67, 25, ...,  0,  0,  0],
       [ 0, 48, 40, ...,  0,  0,  0],
       ...,
       [ 1, 73, 50, ...,  0,  0,  0],
       [ 0, 45, 37, ...,  0,  0,  0],
       [ 0, 40, 45, ...,  0,  0,  0]])

In [0]:
optimizer = torch.optim.Adam(wide_model.parameters())
batch_size = 64
n_epochs = 10
train_loader = torch.utils.data.DataLoader(dataset=train_dataset,
                                           batch_size=batch_size,
                                           shuffle=True)

In [0]:
for epoch in range(n_epochs):
  total = 0
  correct = 0

  for i, batch in enumerate(train_loader):
    x_w = Variable(batch[:, 1:]).float()
    y = Variable(batch[:, 0]).float()

    optimizer.zero_grad() # zeroes the gradient buffers of all parameters
    y_pred = wide_model(x_w)

    loss = F.binary_cross_entropy(y_pred, y)
    loss.backward()
    optimizer.step()

    total += y.size(0)
    y_pred_cat = (y_pred > 0.5).squeeze(1).float()
  
    correct += float((y_pred_cat == y).sum().item())

  print('Epoch {} of {}, Loss: {}, Accuracy: {}'.format(epoch+1, n_epochs, round(loss.item(),3), round(correct/total,4)))

/usr/local/lib/python3.6/dist-packages/torch/nn/functional.py:1351: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: UserWarning: Using a target size (torch.Size([64])) that is different to the input size (torch.Size([64, 1])) is deprecated. Please ensure they have the same size.
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: UserWarning: Using a target size (torch.Size([8])) that is different to the input size (torch.Size([8, 1])) is deprecated. Please ensure they have the same size.
  if sys.path[0] == '':

Epoch 1 of 10, Loss: 0.489, Accuracy: 0.819
Epoch 2 of 10, Loss: 0.33, Accuracy: 0.8268
Epoch 3 of 10, Loss: 0.446, Accuracy: 0.8295
Epoch 4 of 10, Loss: 0.429, Accuracy: 0.8316
Epoch 5 of 10, Loss: 0.582, Accuracy: 0.8324
Epoch 6 of 10, Loss: 0.302, Accuracy: 0.8352
Epoch 7 of 10, Loss: 0.346, Accuracy: 0.8346
Epoch 8 of 10, Loss: 0.252, Accuracy: 0.8366
Epoch 9 of 10, Loss: 0.26, Accuracy: 0.8358
Epoch 10 of 10, Loss: 0.216, Accuracy: 0.8369

### Deep

In [0]:
print(wd_dataset['embeddings_input'])
print(wd_dataset['deep_column_idx'])

[('native_country', 42, 12), ('relationship', 6, 8), ('workclass', 9, 10), ('occupation', 15, 10), ('education', 16, 10)]
{'education': 0, 'relationship': 1, 'workclass': 2, 'occupation': 3, 'native_country': 4, 'age': 5, 'wrk_hrs_per_week': 6}

In [0]:
col_name, unique_vals, n_emb = wd_dataset['embeddings_input'][0]
emb_layer = nn.Embedding(unique_vals, n_emb)
print(emb_layer)

Embedding(42, 12)

In [0]:
class Deep(nn.Module):
  def __init__(self, embeddings_input, continuous_cols, deep_column_idx, hidden_layers, n_class):
    super(Deep, self).__init__()
    self.deep_column_idx = deep_column_idx
    self.embeddings_input = embeddings_input
    self.continuous_cols = continuous_cols
    self.hidden_layers = hidden_layers
    self.n_class = n_class

    for col, val, dim in self.embeddings_input:
      setattr(self, 'emb_layer_' + col, nn.Embedding(val, dim))

      input_emb_dim = np.sum([emb[2] for emb in self.embeddings_input])
      self.linear_1 = nn.Linear(input_emb_dim + len(continuous_cols), self.hidden_layers[0])
      for i, h in enumerate(self.hidden_layers[1:],1):
        setattr(self, 'linear_' + str(i+1), nn.Linear( self.hidden_layers[i-1], self.hidden_layers[i]))

      self.output = nn.Linear(self.hidden_layers[-1], n_class)
  
  def forward(self, x):
    pass